<app-header></app-header>

<router-outlet></router-outlet>

<!-- <div class="container">
  <div class="registerBox">
    <h1> Add new hero</h1>
    <form [formGroup]="hero_form" (ngSubmit)="addToRealtimeDatabase()">
      <p>Hero name</p>
      <input type="text" name="" placeholder=" Enter Hero name" formControlName="name">
      <p>Hero power</p>
      <input type="text" name="" placeholder="Enter Hero power" formControlName="power">
      <p>Hero id</p>

      <input type="text" name="" placeholder="Enter id" formControlName="id">

      <input type="submit" value="Add" [disabled]="!hero_form.valid">
    </form>
  </div>

  <div class="heroes">

    <ul>
      <li *ngFor="let hero of heroes">
        <span>{{hero.heroName}}</span><span>{{hero.heroId}}</span><span>{{hero.heroPower}}</span><span><button
            (click)="deleteHero(hero.id)">Delete</button></span>
      </li>
    </ul>

  </div>
</div> -->


<!-- ! Login and Register with email and password -->
<!-- <div class="loginBox">
  <h1>Login Here</h1>
  <form [formGroup]="login_form" (ngSubmit)="register()">
    <p>Email</p>
    <input type="email" name="" placeholder="Ex. Mac@divyesh.com" formControlName="email">
    <p>password</p>
    <input type="password" name="" placeholder="Enter Password" formControlName="password">

    <input type="submit" value="Register" [disabled]="!login_form.valid">
    <button type="button" [disabled]="!login_form.valid" (click)="logIn()">Login</button>
    <button type="button" (click)="googleSignIn()">Signin with Google</button>
  </form>

  <ng-container *ngIf="errorMsg">
    <small>User already exists</small>
  </ng-container>
</div> -->


<!--! Mobile authentication -->
<!-- 
<div class="loginBox">
  <h1>Login Here</h1>
  <form [formGroup]="phone_form" (ngSubmit)="getOtp()">
    <p>Phone number</p>
    <input type="text" placeholder="0123456789" minlength="10" maxlength="10" formControlName="phone">
    <button type="button" [disabled]="!phone_form.valid" (click)="getOtp()">Get OTP</button>
    <button type="button" (click)="googleSignIn()">Signin with Google</button>
  </form>

  <ng-container *ngIf="errorMsg">
    <small>User already exists</small>
  </ng-container>
</div>

<div id="recaptcha_container"></div> -->